# PART 1

# 1-Defining a Variable

In [ ]:
x=
y=

In [ ]:
print (x > y)

### Variables

A variable can have any name as long as it follows the rules. Be creative but 

try to be as precise as possible! When naming things, please stick to these guidelines:

\- Only use letters

\- Write everything in lowercase

\- Separate words with the underscore character `_`

In [ ]:
# Can I have numbers in a variable name?

In [ ]:
89_hilal = 3

In [1]:
hilal_89 = 2

In [2]:
type(hilal_89)

int

# 2-Integer, String, Float and Boolean

- Int: a whole number (... -2, -1, 0, 1, 2â€¦)
- Float: the real numbers, number with decimals
- String: text values
- Boolean: used to represent the truth value of an expression

In [4]:
d = True

In [9]:
print(type(d))

<class 'bool'>

In [ ]:
e= False

In [ ]:
type()

In [10]:
bool(1)

True

In [17]:
bool(float(22/7))

True

# PART 2

# 1- Defining strings

In [19]:
#method 1: single quotes and f string

name = 'SRH'

print(f"name: {name}")

name: SRH

### f string

In [20]:
name = 'Hilal'
number = 35

print(f'Hello {name}')
print(f'Result: {number}')
print(f'Hi {name}, you are {number} years old!')

Hello Hilal
Result: 35
Hi Hilal, you are 35 years old!

### Triple quotes

In [23]:


text = '''
Hi! my name is Hilal

What's your name ?
        '''

print(text)

Hi! my name is Hilal

What's your name ?

# 2- Substrings

In [24]:
name = 'Selma Hadzic'

In [25]:
name[2]

'l'

In [ ]:
name[5]

In [ ]:
name[12]

In [26]:
name[0:3]

'Sel'

In [27]:
name[:3]

'Sel'

In [28]:
name

'Selma Hadzic'

In [29]:
name[-4] # it starts from the end, the last character is -1

'd'

In [ ]:
name[-1]

In [30]:
name[-1:-4]

''

In [31]:
name[-4:-1] #it still starts reading from the left, so reverse reading not possible like the top cell

'dzi'

# 3- String Methods

In [32]:
name = ' Manipulating Strings n '

In [33]:
name.upper()

' MANIPULATING STRINGS N '

In [34]:
name

' Manipulating Strings n '

In [35]:
name =name.upper()

In [37]:
str.upper(name)

' MANIPULATING STRINGS N '

In [ ]:
name.lower()

In [ ]:
name

In [ ]:
name=name.lower()

In [ ]:
name

In [38]:
# removing white space
#name.strip()
name.rstrip()
#name.lstrip()

' MANIPULATING STRINGS N'

In [39]:
#If I want to capitalize every first letter of all the words?
name.title()

' Manipulating Strings N '

In [42]:
name.split()

['MANIPULATING', 'STRINGS', 'N']

Some characters in Python require special attention:

- \n - Newline character
- \t - Tabulator
- \" - literal double quote
- \\ - Normal, single backslash

Example: print("Hello! What\'s up? How are you?\nI\'m doing fine.")

In [43]:
print('Hello! What\'s up? How are you?\nI\'m doing fine.')

Hello! What's up? How are you?
I'm doing fine.

In [ ]:
print('Hello! What's up? How are you?\nI\'m doing fine.')

# 4- Input function

The programmer can get information from the user with the input() function. This function asks the user to enter a value. Beware that any data from the input function will be saved as a string. So if in order to transform the data to an integer use int(). Here is an example:

In [44]:
who = input('What is your name? ')
print(f'Hello {who}, welcome')

What is your name?  Ashin

Hello Ashin, welcome

In [45]:
age = input("How old are you?")

age_new=age+2
print(f'2 years later  you will be {age_new}')

How old are you? 19

TypeError: can only concatenate str (not "int") to str

In [46]:
age = int(input("How old are you?"))

age_new=age+2
print(f'2 years later  you will be {age_new}')

How old are you? 19

2 years later  you will be 21

In [64]:
print("Enter your first time in hours and then minutes ")
time1= int(input())*60
time1= time1+ int(input())
print("Enter your second time")
time2= int(input())*60
time2= time2+ int(input())
print("The total time is "+(str((time1+time2)/60))+" Hours and "+(str((time1+time2)%60))+" minutes")

Enter your first time in hours and then minutes

 1
 20

Enter your second time

 2
 35

The total time is 3.9166666666666665 Hours and 55 minutes