# First operations with lists

In [1]:
# list creation
letters = ["a", "b", "c", "d", "d"]

In [2]:
type(letters)

list

In [16]:
letters

['a', 'b', 'c', 'd', 'd', 'g', 'h', 4]

In [15]:
# add some elements to the list
letters.extend([4])

In [8]:
# return the length of a list
len(letters)

7

In [ ]:
# indexing
letters[]

In [19]:
letters[1:3]

['b', 'c']

In [ ]:
# slicing: 


# What do you notice?

In [24]:
# List can store values of different types
namecounts= ["Abdullah", 123, "Ayesha", 456, letters]

In [29]:
# we can add elements
namecounts.append("Basel")
print(namecounts)

['Abdullah', 123, 'Ayesha', 456, ['a', 'b', 'c', 'd', 'd', 'g', 'h', 4], 'Basel']

In [30]:
# and we can remove elements
namecounts.remove("Basel")
print(namecounts)

['Abdullah', 123, 'Ayesha', 456, ['a', 'b', 'c', 'd', 'd', 'g', 'h', 4]]

In [31]:
# we can also remove the last element
namecounts.pop()
print(namecounts)

['Abdullah', 123, 'Ayesha', 456]

**Note: all three methods pop(), append() and remove() modify the list in-place: this means that the original list is overwritten and replaced by the new one after being modified by the method**

## Manipulating lists

In [36]:
# searches for and counts the number of an element in a list
namecounts.count()

1

In [33]:
print(namecounts)

['Abdullah', 123, 'Ayesha', 456]

In [37]:
del namecounts[1:3]

In [38]:
namecounts

['Abdullah', 456]

In [40]:
p=[(1,2),"b",5.0,"9"]

(1,2) is a tuple

In a list
1. the syntax is a= [ ] , where a is a variable and notebook
2. u can call an empty list
3. u can index
4. you can order
5. u can mutable
6. different data types
7. 
the only difference between tuple and list is that tuple is not mutable